* {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

#header{
  font-size: 50px;
}

#directions {
  font-size: 20px;
}

#template {
  display: none;
}

.infoContainer{
  border: 2px solid black;
  width: 80%;
  height: 150px;
  display: inline-block;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;


}

#inputContainer {
  padding: 20px;
  // border: 2px solid black;

}

.cityName{
  // border: 2px solid green;
  font-size: 30px;
  // text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.temperature {
  // border: 2px solid blue;
  font-size: 30px;
  // text-align: center;
  display: inline-block;
  vertical-align: middle;


}

.description {
  // border: 2px solid yellow;
  font-size: 20px;
  // text-align: center;
  display: inline-block;
  vertical-align: middle;
}


.icon{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  // border: 2px solid red;
  
}



